html 
    head 
        title Adicionales
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap")
        link(rel="stylesheet", href="/style/styleAdicional.css")
    body 
        div
            button.archivo-black-regular(onclick=`window.history.back()`) Atrás
            h2.archivo-black-regular Imágenes Adicionales 
        div
            each imagen in imagenesAd
                img(src=imagen alt="" id="imagenAdicional")