.contenedor {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    margin: 0; 
    
}
#form{
    justify-content: center;
    display:grid;
    width: 500px;
    margin: 0 auto;
    margin-top: 80px;
    color:rgb(83, 85, 88);
    border: 1px solid rgba(50, 51, 54, 0.288);
    border-radius: 5px;
}
.stint-ultra-expanded-regular {
    font-family: "Stint Ultra Expanded", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size:medium;
}
 

label, input,select{
    margin: 8px;
}
input, select{
    padding: 5px;
    border-radius: 5px;
}

button{
    display: block;
    margin: 20px auto;
    width: 80%;
    color:rgb(83, 85, 88);
    border-style: solid;
    border: 1px solid rgba(50, 51, 54, 0.288);
    font-size:medium;
    border-radius: 10px;
}

header{
    display: flex;
    min-height: 70px;
    justify-content: center;
    background-color: rgb(83, 85, 88, 0.3);
    align-items: center;
    padding: 10px;
    text-align: center; 
}

h1{
    text-align: center;
    color:rgb(83, 85, 88);
}

  
.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

body{
    background-image: url('/images/fondo.jpeg');
    background-repeat: repeat;
}

.grilla{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    padding: 20px; 
    
}

.card {
    background-color:rgb(174, 173, 179, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    margin: 20px;
    text-align: center;
}

.sansita-swashed-cards {
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
 

img {
    width: 80%;
    height: auto;
    display: block;
    margin: 20px;
}
#titulo{
    margin-top: 10px;
    color:rgb(83, 85, 88);
}
#cultura{
    color:rgb(83, 85, 88); 
    text-align: center;
}
#dinastias{
    color:rgb(83, 85, 88); ;
    text-align: center;
}



.fecha{
    border: 2px solid transparent;
    animation: animacionBorde 3s linear infinite;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1) ;
    color :rgb(83, 85, 88);
    border-style: solid;
}

.bAdicionales{
    background-color: rgba(0, 0, 0, 0.1) ;
    color :rgb(83, 85, 88);
    border-radius: 10px;
    width: 100%;
    height:auto;
    
}
  